<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

  <!-- general -->
	<display-name>WebServiceREST</display-name>
  
  
  
  <!-- context-param --> 
	<context-param>
    	<param-name>mysqlfile</param-name>
    	<param-value>/WEB-INF/mysql.properties</param-value>
  	</context-param>
  
  
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/*.xml
		</param-value>
  	</context-param>
	
	
	
  <!-- servlet --> 
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>br.com.gda.servlet.ServletContainerGDA</servlet-class>
		<init-param>
		    <param-name>jersey.config.server.provider.packages</param-name>
			<param-value>br.com.gda.servlet.resource</param-value>
		</init-param>
		<init-param>
	        <param-name>jersey.config.server.provider.classnames</param-name>
	        <param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
    	</init-param>
	<!--	<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>org.glassfish.jersey.logging.LoggingFeature</param-value>
		</init-param> 
		
		<init-param>
	        <param-name>jersey.config.server.trace</param-name>
	        <param-value>ALL</param-value>
	    </init-param>
	    <init-param>
	        <param-name>jersey.config.server.logging.verbosity</param-name>
	        <param-value>PAYLOAD_TEXT</param-value>
	    </init-param> --> 
		<load-on-startup>1</load-on-startup>
	</servlet>
  
   
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	
	
  <!-- filter -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	
	
  <!-- 	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Context</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
	</security-constraint>
-->  
  
  
  
  <!-- 
  <servlet>
    <description>JAX-RS Tools Generated - Do not modify</description>
    <servlet-name>JAX-RS Servlet</servlet-name>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>JAX-RS Servlet</servlet-name>
    <url-pattern>/jaxrs/*</url-pattern>
  </servlet-mapping>
  -->
</web-app>